@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    background-color: #F3F3F6;
    font-family: "Open Sans", sans-serif;
    color: #1A1A1A;

    margin: 0;
}

.header-nav, .layers, .controls, .editor {
    background-color: #FFFFFF;
    border-radius: 16px;
    font-size: smaller;

    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 2px 12px;
    margin-bottom: 16px;
}

.layers .bi-chevron-down, .editor .bi-chevron-down {
    height: 8px;
    width: 8px;

    margin-left: 4px;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 0;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 80px;
}

.controls > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.controls .bi-chevron-down {
    height: 8px;
    width: 8px;

    margin-left: 8px;
}

.item-content {
    background-color: #FFFFFF;
    padding: 10px 16px; 
}

.grid-item .item-title {
    font-size: 11px;
    color: #a5a5a5;

    margin-bottom: 4px;
}

#footer-container {
    display: flex;
    justify-content: center;

    position: fixed;
    bottom: 0;

    width: 100%;
    margin-bottom: 32px;
}

.pages {
    display: flex;
    align-items: center;
    justify-content: space-around;

    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 24px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

    height: 48px;
    width: 120px;
}

.pages a {
    height: 20px;
    width: 20px;
}

@media (min-width: 1072px) {
    .header-nav {
        display: none;
    }

    #body-container {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    
        margin: 16px;
    }

    .layers {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    
        padding: 12px;
    
        min-width: 168px;
        min-width: 252px;
        max-width: 336px;

        height: 94vh;
    }

    .cv-content {
        margin-top: 12vh;
    }

    .grid-container, .grid-item .item-content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 24px;
    }

    .grid-item {
        width: 20vw;
    }

    .item-content {
        min-height: 176px;
        height: 20vh;
    }

    .editor {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    
        padding: 12px;
    
        min-width: 200px;
        width: 236px;
        max-width: 272px;

        height: 94vh;
    }

    .controls {
        padding: 8px;
    }

    .controls > div {
        margin: 0 16px;
    }
}

@media (max-width: 1073px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        margin: 16px;
    }

    #header-container {
        width: 100%;
    }

    .layers {
        display: none;
    }

    .grid-container {
        display: flex;
        flex-direction: column;
    }

    .grid-item {
        margin-bottom: 32px;

        width: 88vw;
        max-width: 432px;
    }

    .item-content {
        min-height: 232px;
        max-height: 232px;
    }

    .editor {
        display: none;
    }

    .controls {
        padding: 6px;
    }

    .controls > div {
        margin: 0 8px;
    }

    .controls svg {
        width: 12px !important;
    }
}