@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

body {
    background-color: #e0f1ff;
    font-family: "Patrick Hand SC", cursive;

    position: relative;
    margin: 0;
}

.overlay {
    display: none;
    /* position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    width: 100%;
    height: 100%; */
}

#header-container {
    display: flex;
    align-items: center;

    margin-bottom: 64px;
}

.header-pfp {
    position: absolute; 

    border-radius: 100%; 
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.header-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    font-family: "Patrick Hand", cursive;
    color: #FCF7E6;
    line-height: 8px;

    background-color: #2D5694;

    border: #1D1D1F solid 2px;
    border-radius: 12px;
}

#body-container {
    color: #1D1D1F;
    width: 100%;
}

.block-title {
    text-align: center;
    background-color: #FFFAE9;

    border: #1D1D1F solid 2px;
    border-radius: 40px;

    margin: 0;
    padding: 16px 0;
}

.info-block ul {
    --icon-size: 0.8em;
}

.info-block li {
    padding-left: var(--gutter);
}

.info-block li::marker {
    /* content: "\f0c9"; */
    font-family: FontAwesome;
    font-size: var(--icon-size);
}

#footer-container {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-bottom: 32px;
  }

.pages {
    display: flex;
    align-items: center;
    justify-content: space-around;

    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 24px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

    height: 48px;
    width: 120px;
}

.pages a {
    height: 20px;
    width: 20px;
}

@media (min-width: 1040px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 96px 48px;
    }

    .header-text {
        font-size: 28px;

        height: 102px;
        width: 472px;

        margin-left: 96px;
        padding-left: 96px;
    }

    .header-pfp {
        height: 168px; 
    }

    #body-container {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        margin-top: 72px;
    }

    .info-block {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 66vw;
        margin: 32px;
    }
  
    .block-title {
        font-size: 24px;
        width: 100%;

        margin-bottom:16px;
    }

    .info-block ul {
        align-self: flex-start;

        min-height: 352px;
        height: 352px;
    }

    .info-block li {
        font-size: 20px;
        margin-bottom: 32px;
    }
    
    .plaque {
        display: flex;
        justify-content: space-between;
      
        position: absolute;
        top: 36.5%;
        width: 18%;
    }
}

@media (max-width: 1041px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 48px 24px;
    }

    .header-pfp {
        height: 96px; 
    }

    .header-text {
        font-size: 20px;

        height: 72px;
        width: 256px;

        margin-left: 16px;
        padding-left: 96px;
    }

    .info-block {
        position: relative;
        margin-bottom: 40px;
    }

    .block-title {
        font-size: larger;

        margin-bottom: 24px;
    }

    .info-block li {
        font-size: 18px;
        margin-bottom: 32px;
    }

    .plaque {
        display: flex;
        justify-content: space-between;

        position: absolute;
        top: -20px;
        left: 50%;
        transform: translateX(-50%); 
        width: 70%;
    }
}